@import "@assets/styles/index.scss";

.dfn-color-picker-popper {
  position: absolute;
  @include layer-index('popover');
}

.dfn-color-picker-popper__container {
  padding: 0;
  border-radius: 6px;
}

.dfn-color-picker-popper__button-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  & > button {
    flex: 1;
    height: 32px;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
  }
}
