body {
  min-width: 1240px;
  background-color: #f7f7f8;
}

$--color-achromatic1: #f8f9fa;
$--color-achromatic2: #ebeeee;
$--color-achromatic3: #dee2e6;
$--color-achromatic4: #ced4da;
$--color-achromatic5: #adb5bd;
$--color-achromatic6: #868e96;
$--color-achromatic7: #6c757d;
$--color-achromatic8: #495057;
$--color-achromatic9: #212529;

$--color-black: #000;
$--color-dark: $--color-achromatic9;
$--color-darkgray: #343a40;
$--color-gray: $--color-achromatic6;
$--color-lightgray: $--color-achromatic4;
$--color-light: $--color-achromatic2;
$--color-softlight: rgba($--color-achromatic2, .4);
$--color-extralight: $--color-achromatic1;
$--color-white: #fff;

$--index-blind: -1;
$--index-default: 0;
$--index-normal: 1;

$--index-inline-popover: 16100000;
$--index-floating: 16200000;
$--index-full-screen: 16250000;
$--index-dialog: 16300000;
$--index-popover: 16400000;
$--index-toast: 16600000;
$--index-super: 16700000;
$--index-skip: 16777271;

@mixin layer-index($layer: 'default', $index: 0) {
  $default-index: $--index-default;

  @if ($index < 0) or ($index > 99999) {
    @error '$index should be 0 to 99999';
  }

  @if $layer == 'blind' {
    $default-index: $--index-blind;
    $index: 0;
  } @else if $layer == 'inline-popover' {
    $default-index: $--index-inline-popover;
  } @else if $layer == 'floating' {
    $default-index: $--index-floating;
  } @else if $layer == 'full-screen' {
    $default-index: $--index-full-screen;
  } @else if $layer == 'dialog' {
    $default-index: $--index-dialog;
  } @else if $layer == 'popover' {
    $default-index: $--index-popover;
  } @else if $layer == 'toast' {
    $default-index: $--index-toast;
  } @else if $layer == 'super' {
    $default-index: $--index-super;
  } @else if $layer == 'skip' {
    $default-index: $--index-skip;
    $index: 0;
  }

  z-index: $default-index + $index !important;
}
